extends layout

block content
  h1 Hackathons Perto de Mim
  p.lead Descubra hackathons acontecendo perto de você.
  ul
    li
      h3 Hackathon São Paulo
      p Data: 20 de Março de 2024
      p Local: São Paulo, SP
    li
      h3 Hackathon Rio de Janeiro
      p Data: 15 de Abril de 2024
      p Local: Rio de Janeiro, RJ
    li
      h3 Hackathon Belo Horizonte
      p Data: 10 de Maio de 2024
      p Local: Belo Horizonte, MG
  p
    a.btn.btn-primary(href='https://www.sympla.com.br/eventos/hackathon' target='_blank') Ver Mais Hackathons »
