extends layout

block content
  .container.d-flex
    .text-content.me-xxl-5
      h1 Hackathons Perto de Mim
      p.lead Descubra hackathons acontecendo perto de você.
      ul
        li
          h3 Hackathon Minas Gerais
          p Data: 20 de Março de 2025
          p Local: Belo Horizonte, MG
        li
          h3 Hackathon Rio de Janeiro
          p Data: 15 de Abril de 2025
          p Local: Rio de Janeiro, RJ
        li
          h3 Hackathon São Paulo
          p Data: 10 de Maio de 2025
          p Local: São Carlos, SP
      p
        a.btn.btn-primary(href='https://www.sympla.com.br/eventos?s=hackathons' target='_blank') Ver Mais Hackathons »

    // Carrossel de imagens ao lado
    #carouselExampleIndicators.carousel.slide.w-50( data-bs-ride="carousel" )
      .carousel-indicators
        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active")
        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1")
        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2")

      .carousel-inner
        .carousel-item.active
          img(src="/images/maga.png" class="d-block w-100" alt="Hackathon 1")
        .carousel-item
          img(src="/images/pand.png" class="d-block w-100" alt="Hackathon 2")
        .carousel-item
          img(src="/images/trac.png" class="d-block w-100" alt="Hackathon 3")

      button.carousel-control-prev(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.visually-hidden Previous

      button.carousel-control-next(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.visually-hidden Next
